@charset "utf-8";

:root{
    font-family: 'Noto Sans JP', sans-serif;
    --main-bg-color: rgb(168,74,0);
    --sub-bg-color: rgb(255, 230, 200);
    color:var(--main-bg-color);
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width:100%;
    min-width:320px;
}

header{
    margin: 0 auto;
    position:fixed;
    top:0;
    z-index:100;
    background-color: #fff;
    width:100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo img{
    height: 46px;
}

main{
    margin: 72px auto 0;
    background-image: url(../image/hanacafe_main_2.jpg);
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: 55% center;
    border-radius: 6px;
    width: 90%;
    height:70vh;
    margin-bottom: 16px;
    position:relative;
    font-weight: 600;
}

.main--copy{
    position:absolute;
    top:16px;
    left:16px;
    color:#fff;
    display:inline-block;
    font-size:22px;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.flowerBtn{
    width:120px;
    position:absolute;
    bottom:16px;
    right:16px;
    transition:0.5s;
    animation:10s linear infinite rotation1;
}

@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }

.flowerBtn:hover {
    width:140px;
    bottom:9px;
    right:6px;
}

 .flowerBtn--copy{
     text-align: center;
     position:absolute;
     bottom: 55px;
     right: 45px;
     color:#fff;
     line-height: 1.2rem;
 } 

.section{
    margin: 0 auto 60px;
    max-width:90%;
    text-align: center;
}

.section--title{
    height:30px;
    border-bottom: 1.5px dashed var(--main-bg-color);
    margin-bottom: 16px;
    letter-spacing: 0.05rem;
    font-weight: 600;
}

.news{
    margin: 0 auto;
}

.news--contents{
    height:2rem;
    letter-spacing: 0.05rem;
    display: flex;
    margin-bottom: 16px;
}

.news--date{
    background-color:var(--sub-bg-color);
    width: 84px;
    line-height: 2rem;
    font-size: 0.5rem;
    border-radius: 5px;
}   

.news--event{
    text-align: right;
    margin-left: 1rem;
    line-height: 2rem;
    font-size: .7rem;
}

.news--event a:hover{
    transition: .4s;
}
.news--event a:hover{
    opacity: 0.5;
}


.menuImage{
   margin: 0 auto; 
   width: 100%;
}

.menuImage--contents{
    opacity: 0;
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 18px;
    transition:1s;
}

.moreBtn{
    margin: 0 auto;
    display: block;
    border: 1.5px solid var(--main-bg-color);
    line-height: 30px;
    letter-spacing: 0.1rem;
    width:180px;
    border-radius: 15px;
    font-size: 14px;
    transition:.2s;
}

.moreBtn:hover{
    background-color:var(--main-bg-color);
    color:#fff;
}

.section--intro{
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-ideograph;
    line-height: 1.5rem;
    font-size: 14px;
}

.section--intro_photo{
    opacity: 0;
    display: block;
    margin: 0 auto;
    width:80%;
    height:300px;
    margin-bottom: 32px;
    object-fit: cover;
    border-radius: 8px;
    transition:1s;
}

.show{
    opacity: 1;
}

footer{
    background-color: var(--sub-bg-color);
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
    padding: 40px;
    text-align: center;
}

.profile{
    margin: 0 auto;
    width:100%;
}

.profile--img {
	display: block;
    margin:0 auto 18px;
    width:100px;
    height:100px;
    object-fit:cover;
	border-radius:50%;
	object-position:0px 0px;
}

.profile--name{
    font-size: 14px;
    letter-spacing: 0.05rem;
    margin-bottom: 16px;
}

.profile--text{
    font-size: 14px;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    margin-bottom: 16px;
}

.profile--text span{
    display: inline-block;
}

.profile--sns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 16px;
}

small{
    font-size: 10px;
    letter-spacing: 0.05rem;
}


@media screen and (min-width:599px) { 
    .main--copy{
        font-size:28px;
        line-height: 2.5rem;
    }

    .news--event{
        font-size: 14px;
    }
   
    .news{
        margin: 0 auto;
        max-width: 80%;
    }
    .menuImage{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }

    .menuImage--contents{
        width:48%;
        height:250px;
    }    
    .section--intro{
        max-width:80%;
     }
     
     .section--intro_photo1{
         width:60%;
     }

     .profile{
        width:80%;
    }
} 

@media screen and (min-width:799px) { 
    .news{
        max-width: 60%;
    }

    .menuImage--contents{
        height:300px;
    }
    .profile{
        width:80%;
    }    
}

@media screen and (min-width:1023px) { 
    .main--copy{
        font-size:30px;
        line-height: 2.8rem;
    }

    .news--event{
        font-size: 16px;
    }
  
    .menuImage--contents{
    width: 32%;
    }
    .section{
        max-width:80%;
    }
}